* {
    margin: 0;
    padding: 0;
}

body,
html {
    padding: 0.5em;
    height: 100%;
    background-color: #171f2f;
    color: #d0d1d5;
    font-family: sans-serif;
}

#controller input[type="range"] {
    width: 200px;
}

#controller {
    padding: 0.5em;
    margin: 0.5em;
}

#controller td {
    padding: 0.2em;
}

#controller table {
    padding-bottom: 0.5em;
}

#controller button {
    padding: 0.2em;
}